.nav {
    grid-area: nav;
  }

  .middle {
    grid-area: middle;
  }

  .logo {
    grid-area: logo;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

.wrapper {
  background-color: #443850;
  color: #fff;
}

  .wrapper {
    display: grid;
    
    grid-template-areas:
     'logo header header header'
     'nav middle middle middle'
     'nav footer footer footer';
    padding: 10px;
  }
  @media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    
    grid-template-areas:
     'logo header header'
     'nav nav nav'
     'middle middle middle'
     'footer footer footer';
    padding: 10px;
  }
  }

.box {
  background-color: #443850;
  color: white;
  border-radius: 0px;
  padding: 10px;
  font-size: 150%; 
}

.header{
  background-color: #d62839ff;
  color: white;
}
.footer {
  background-color: #cce6f4ff;
  color: black;
}

.middle {
  background-color: #4ba3c3ff;
  color: black;
}

.logo {
  background-color: white;
  color: black;
}

.nav {
  background-color: #ba324fff;
  color: white;
}